#cy {
  width: 300px;
  height: 300px;
  display: block;
}

.description h3
{
  margin:0px;
}


#header {
  color:#ffffff;
  padding-bottom: 12px;
}

#CurrAmnt{
  width: 120px;
  position: relative;
}
#symb{
  width: 24px;

}

#selectO{
  width: 90px;
  position: relative;
  align-self: auto;
}

.main {
  border: solid  rgb(11, 120, 124);
  border-color: rgb(11, 120, 124);
  border-width: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 570px;
  height: 620px;
  padding-bottom: 12px;
  margin-top: 20PX;
  margin-left: 20px
}


.container-fluid {
   background-color: rgb(11, 120, 124);
  padding:5;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}



.col2 {
  padding-right: 12px;
}
